.containerss{
    /* border: 1px solid red; */
    background-color: black;
    border-radius:10px;
    box-shadow: 0 0 13px #000;
    width: 50%;
    height: 75vh;
    margin: 0 auto;
    color:white;
    padding:0 10px ;

    display: grid;
    grid-template-rows: .3fr 1.7fr;
    grid-template-columns: 1fr;

}

h1{
    color: white;
    text-align: center;
}